.title{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.imgContainer{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.pic{
    width: 20rem; 
    height: 20rem; 
    object-fit: cover;
    border-radius: 3rem;
}
.writeLog{
    position: absolute;
    bottom: -5%;
    left: 50%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    z-index: 999;
    width: 50px;
    border: none;
    cursor: pointer;
    transform: translate(-50%, 0%);
}


.text{
    margin-top: 2rem;
}

.btncontainer{
    position: absolute;
    bottom: 2rem;
    /* margin-top: 2rem; */
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .8s;
}

.btn:hover{
    animation: slide-down 1.0s ease-in-out ;
    transform: scale(1.2);
    /* background: rgb(79, 107, 235); */
    /* box-shadow: 0 0 50px 10px rgb(79, 107, 235); */
}

@keyframes slide-down {
    0% {transform: scale(1);}
    50% {transform: scale(0.8);}
    /* 66% {transform: scale(1);} */
    100% {transform: scale(1.2);}
  }
