/* .container{
    position: relative;
    display: flex;
    justify-content: center;
} */

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
	margin-top: 4rem;
	margin-bottom: 0.5rem;
	text-align: center;
	height: 100%;
}
.title {
	text-align: center;
	font-weight: 400;
}

.ipt {
	border: none;
	background-color: transparent;
	width: 10rem;
	height: 1rem;
}
.invalid:not(:focus) {
	border-bottom: 1px solid rgb(255, 91, 91);
}
.btn {
	margin: 0 auto;
}

.btncontainer {
	position: absolute;
	bottom: 3rem;
	margin: 0 auto;
	/* display: flex;
    justify-content: center; */
}
.err {
	margin-top: 1rem;
	width: 100%;
}

.errNone {
	display: none;
}

.imgcontainer {
	position: relative;
}

.imgsize {
	object-fit: cover;
	position: absolute;
	background-size: cover;
}
