* {
	margin: 0;
	padding: 0;
}

.mainpage {
	position: relative;
}

.mainpage-btn {
	background-color: transparent;
	height: 60px;
	width: 350px;
	position: absolute;
	margin-top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.mainpage-btn::before {
	content: 'Make your moments.';
	height: 60px;
	width: 300px;
	position: absolute;
	top: 70%;
	font-size: 30px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}

.mainpage-btn::after {
	content: 'Forever.';
	height: 60px;
	width: 300px;
	position: absolute;
	top: 70%;
	top: 150%;
	font-size: 30px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}

.mainpage-btn:hover::before {
	top: -50%;
}

.mainpage-btn:hover::after {
	top: 70%;
}

.mainpage-recent-container {
	/* border: 1px solid black; */
	margin: 0 auto;
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.mainpage-recent-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.recent-btn {
	margin-top: 50px;
	font-size: 20px;
	background-color: white;
	border: 3px solid #7fbbca;
	border-radius: 50px;
	text-align: center;
	transition: 0.4s;
	animation: ease-in-out;
}

.recent-btn:hover {
	border: 3px solid #2d3d8b;
}
