.header {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 2rem;
}

.option {
	display: flex;
	margin-top: 1.9rem;
}

.header-title {
	font-size: 1.5rem;
}

.header-login {
	padding-right: 2.8rem;
	cursor: pointer;
}
/* .header-login:hover {
	border-bottom: 1px solid #2d3d8b;
} */

.header-signup {
	padding-right: 3rem;
	cursor: pointer;
}
/* .header-signup:hover {
	border-bottom: 1px solid #2d3d8b;
} */
