
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    text-align: center;
} 

.title{
    text-align: center;
}
.input {
    border: none;
    margin: 1rm;
   } 

.invalid:not(:focus) {
    border-bottom: 1px solid red;
}


.login{
    padding: 2rem, 4rem;
}

.btnInvalid{
    background-color: whitesmoke;   
    color: #2d3d8b;
}

.btnInvalid:hover {
	background-color: #37458a;
	color: #fff;
	cursor: pointer;
}