.button:link,


.button:hover {
	background-color: #37458a;
}

.button:active {
	transform: scale(0.98);
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.button{
	display: inline-flex;
	align-items: center;
	background-color: #2d3d8b;
	color: #fff;
	/* width: 50px; */
    padding: 0.5rem 2rem;
	margin: 0.5rem;
	border-radius: 2px;
	border: 1px solid transparent;
	box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 2px 0px;
}
