.button:link,
.button:visited {
	text-decoration: none;
	margin-top: 3rem;
	padding: 1rem 3rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	font-size: 1rem;
}

.button:hover {
	background-color: #37458a;
}

.button:active {
	transform: scale(0.98);
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.button{
	background-color: #2d3d8b;
	color: #fff;
	/* width: 50px; */
    padding: 0.5rem 2rem;
	margin: 0.5rem
}
